:root {
    --color1: rgba(235, 236, 237, 1);
    --color2: rgba(243, 246, 255, 1);
    --color3: rgba(0, 104, 255, 1);
    --color4: rgba(36, 36, 58, 1);
    --color5: rgba(162, 169, 203, 1);
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: var(--color2);
}

section {
    padding: 12px;
    text-align: center;
}

/****** Login page ******/
.login-page {
    margin-top: 150px;
    display: grid;
    place-items: center;
}

.login-form-contents {
    text-align: center;
    background: var(--color3);
    place-items: center;
    padding: 18px;
    border-radius: 24px;
}

.login-form-content {
    padding: 6px;
}

.login-form-content input {
    padding: 6px;
    border: 0px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    background-color: var(--color3);  
}

.login-form-content input::placeholder {
    color: #FFFFFF;
    font-style: italic;
}

.login-form-content input:focus {
    color: var(--color3);
    background: #FFFFFF;
}

.login-form-content button {
    width: 100%;
    padding: 9px;        
}

/****** Styles for header ******/

header {
    background: var(--color1);
    width: 100%;
}

.nav-menu {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color1);
}

.nav-menu-left {
    padding: 3px;
}

.hamburger {
    padding: 6px;
    border-radius: 3px;
    background: var(--color3);
    font-size: 2em;
    color: #FFFFFF;
    text-align: center;
    box-shadow: 6px 6px 6px rgba(136, 136, 136, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-menu-middle {
    padding: 3px;
    text-align: left;
    font-size: 1.2em;    
}

.nav-menu-right {
    padding: 3px;    
}

#settings {
    font-size: 2em;    
}

.main-menu {
    display: none;
    padding: 12px;
    text-align: center;
    background: var(--color3);    
}

.main-menu > div {
    margin: 24px;
}

.main-menu > div > button {
    background: #FFFFFF;
    box-shadow: 6px 9px 18px rgba(136, 136, 136, 0.6);
    font-weight: bold;
    font-size: 1.5em;
    border: 1px solid var(--color5);
    border-radius: 12px;
}

.setting-menu {
    display: none;
    position: fixed;
    right: 0;
    background: #FFFFFF;
    z-index: 1;
}

.setting-menu > ul li {
    list-style: none;
    padding: 15px;
    border: 1px solid #FFFFFF;
    border-top: 0px;
    background-color: var(--color3);
    color: #FFFFFF;
}

#page_title {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

#search_form {
    border-top: 1px solid var(--color4);
    display: none;   
}

#search_form > div {
    text-align: right;
    margin-top: 12px;
}

#search_form > div > input {
    border: 0px;
    border-bottom: 1px solid var(--color3);
    background: var(--color2);
    outline: 0px;
    font-size: 1.2em;
}

#sorting_form {
    display: none;
    border-top: 1px solid black;    
}

.form > div {
    margin: 9px;
}

.form > form > div {
    margin: 9px;
}

#modules {
    text-align: center;
}

.module-cards-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.module-card {
    /* border: 1px solid #FFFFFF; */
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;      
}

.module-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.module-card-body-contents {
    text-align: left;
    margin: 3px 6px;
}

.module-card-title > h2 {
    text-align: center;
}

.module-card-title > div {
    text-align: center;
    font-size: 3em;
}

.row-counts {
    width: 60px;
    height: 60px;
    margin: 6px;
    padding: 3px;
    background:#FFFFFF;
    font-size: 1.8em;
    border-radius: 18px;
    color: black;
    border: 0px;
    position: relative;    
}

.row-counts p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.module-card-bottom {
    color: #FFFFFF;
    padding: 6px;
}

#module-brands {
    background-color: var(--color3);
    color: #FFFFFF;        
}

#module-products {
    background-color: rgba(207, 117, 255, 1);
    color: #FFFFFF;
}

#module-orders {
    background-color: rgba(250, 219, 57, 1);
    color: var(--color4);
}

/****** Styles for pagination ******/
.pages {
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pages > input {
    margin-right: 12px;
    align-items: center;    
    justify-content: center;
    font-weight: bold;
    padding: 9px;
    border: 0;
    width: 30px;  
    border-radius: 6px;    
}

/****** Styles for footer ******/
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background: #FFFFFF;
    border-top: 1px solid var(--color5);
}

/****** Styles for buttons ******/

.large-button {
    width: 90%;
    padding: 12px;
}

.medium-button {
    padding: 12px 18px;
}

.round-button {
    height: 42px;
    width: 42px;
    border: 0px;
    padding: 3px 12px;
    margin-left: 18px;
    font-size: 1.5em;    
    font-weight: bold;
    border-radius: 50%;     
}

/****** Styles for input fields ******/
.input-error {
    background-color: red;
}

.image_preview img {
    max-width: 90%;
}


/****** Misc styles ******/

#response {
    text-align: center;
}

/*styles for tablets*/
@media screen and (min-width: 768px) {
    .module-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*styles for computers*/
@media screen and (min-width: 992px) {
    .module-cards-container  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
