:root {
    --color1: rgba(235, 236, 237, 1);
    --color2: rgba(243, 246, 255, 1);
    --color3: rgba(0, 104, 255, 1);
    --color4: rgba(36, 36, 58, 1);
    --color5: rgba(162, 169, 203, 1);
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: var(--color2);
}

.main-content {
    padding: 12px;
}

section {
    margin: 3px;
    text-align: center;
}

/****** Login page ******/
.login-page {
    margin-top: 150px;
    display: grid;
    place-items: center;
}

.login-form-contents {
    text-align: center;
    background: var(--color3);
    place-items: center;
    padding: 18px;
    border-radius: 24px;
}

.login-form-content {
    padding: 6px;
}

.login-form-content input {
    padding: 6px;
    border: 0px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    background-color: var(--color3);  
}

.login-form-content input::placeholder {
    color: #FFFFFF;
    font-style: italic;
}

.login-form-content input:focus {
    color: var(--color3);
    background: #FFFFFF;
}

.login-form-content button {
    width: 100%;
    padding: 9px;        
}

/****** Styles for header ******/

header {
    background: var(--color1);
    width: 100%;
}

.nav-menu {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color1);
}

.nav-menu-left {
    padding: 3px;
}

.hamburger {
    padding: 12px;
    border-radius: 50%;
    background: var(--color3);
}

.hamburger div {
    width: 24px;
    height: 3px;
    background: #FFFFFF;
    margin: 6px 0px;
}

.nav-menu-middle {
    padding: 3px;
    text-align: left;
    font-size: 1.2em;    
}

.nav-menu-right {
    padding: 3px;    
}

#settings {
    font-size: 2em;    
}

.main-menu {
    display: none;
    padding: 12px;
    text-align: center;
    background: var(--color3);    
}

.main-menu > div {
    margin: 24px;
}

.main-menu > div > button {
    background: #FFFFFF;
    box-shadow: 6px 9px 18px rgba(136, 136, 136, 0.6);
    font-weight: bold;
    font-size: 1.5em;
    border: 1px solid var(--color5);
    border-radius: 12px;
}

.setting-menu {
    display: none;
    position: fixed;
    right: 0;
    background: var(--color3);
}

.setting-menu > ul li {
    list-style: none;
    padding: 3px;
    border: 1px solid var(--color1);
    border-top: 0px;
}

.setting-menu > ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

#page_title {
    margin: 12px;
    margin-bottom: 36px;
    text-align: left;
}

#page_title > h1 {
    padding: 6px 12px;
    color: var(--color5);
    display: inline;
    border-radius: 6px;    
}

.form > div {
    margin: 9px;
}

.form > form > div {
    margin: 9px;
}

#modules {
    text-align: center;
}

.module-cards-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.module-card {
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.module-card-header {
    
}

.module-card-desc {
    background: var(--color1);
    padding: 3px;
    text-align: left;
}

.module-card-bottom {
    color: #FFFFFF;
    padding: 6px;
}

/****** Styles for sub-menu ******/
.sub-menu {
    background: var(--color4);    
    border-radius: 12px;
    text-align: left;
    max-width: 100%;    
}

.sub-menu-contents {
    display: flex;
    justify-content: space-between;
}

.sub-menu-content {
    padding: 12px;
    display: inline-flex;
}

.sub-menu-search {
    text-align: right;      
}

.sub-menu-search > input {
    border: 0px;
    border-bottom: 1px solid #FFFFFF;
    background: var(--color4);
}

/****** Styles for buttons ******/

.medium-button {
    padding: 12px 18px;
}

/****** Styles for input fields ******/
.input-error {
    background-color: red;
}

#response {
    text-align: center;
}

/****** Styles for footer ******/
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background: #FFFFFF;
    border-top: 1px solid var(--color5);
}

.large-button {
    width: 90%;
    padding: 12px;
}


/*styles for tablets*/
@media screen and (min-width: 768px) {
    .module-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*styles for computers*/
@media screen and (min-width: 992px) {
    .module-cards-container  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
